.info-bar {
    &__list{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        font-size: 14px;
        height: 48px;
        @include standardContainer;
    }

    &__item{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__icon {
        height: 17px;
        margin-right: 8px;
    }
}