.near-cities {
    &__bar-wrapper {
        height: 48px;
        position: relative;
    }

    &__search-bar {
        height: inherit;
        width: 100%;
        @include standardContainer;
        @include searchBar;
        line-height: 48px;
    }

    &__search-icon {
        position: absolute;
        top: 50%;
        right: 18px;
        transform: translate(0, -50%);
    }
}