.near-cities{
    &__list{
        @include weatherList;
    }
    
    &__item{
        @include weatherItem;
    }

    &__name{
        font-size: 14px;
        margin: 13px 0;
    }

    &__weather-icon{
        width: 50%;
        margin-bottom: 5px;
    }
    
    &__info{
        @include tempInfo;
    }
}