.today-info {
    
    &__container {
        @include standardContainer;
        padding: 17px;
        font-size: 14px;
        width: 100%;
        position: relative;
    }

    &__header {
        display: flex;
        justify-content: space-between;
        font-size: 16px;
        border-bottom: 1px solid $color-secondary;
        padding-bottom: 12px;
    }

    &__date {
        color: $color-secondary;
    }

    &__slider{
        width: calc(100vw - (40px) * 2);
        padding-top: 16px;
        overflow: hidden;
    }

    &__btn{
        user-select: none;
        cursor: pointer;
        height: 30px;
        width: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 50%;
        padding: 10px;
        border-radius: 50%;
    }

    &__btn:active{
        background-color: $color-accent-light;
    }

    &__btn--right {
        position: absolute;
        z-index: 1;
        right: 5px;
    }

    &__btn--left {
        z-index: 1;
        position: absolute;
        left: 5px;
        transform: rotate(180deg);
    }

    &__content__list {
        display: flex;
        transition-property: transform;
        transition-duration: 0.3s;
        transition-timing-function: ease;
    }

    &__content__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 6px;
    }

    &__time, &__temp-range{
        font-size: 12px;
        color: $color-secondary;
    }

    &__icon{
        width: 48px;
        height: 48px;
        margin: 7px 0;
    }
}
