$font-family: 'Inter', sans-serif;

$background: linear-gradient(180deg, #062C43 0%, #064469 100%);

$color-header: #1B1F29;
$color-secondary: #B0B0B0;
$color-font: #fff;
$color-accent-light: #C8A0FC;
$color-accent-dark: rgba(22, 27, 30, 0.30);

$border: 1px solid rgba(255,255,255,0.3);
