@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
}

img {
  display: block;
}

ul {
  list-style-type: none;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  color: #fff;
}

.header {
  height: 58px;
  background-color: #1B1F29;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 21px;
}

.navigation {
  display: flex;
  align-items: center;
  gap: 18px;
}

.logo {
  height: 44px;
  width: 44px;
}

.weather-range__list {
  display: flex;
  gap: 18px;
}
.weather-range__item {
  cursor: pointer;
  color: #B0B0B0;
}
.weather-range__item--active {
  color: #C8A0FC;
}

.burger-menu-icon {
  cursor: pointer;
}

.content {
  padding: 16px 21px;
  display: grid;
  grid-gap: 13px;
  background: linear-gradient(180deg, #062C43 0%, #064469 100%);
}

.search-city__section {
  height: 48px;
  display: flex;
  grid-gap: 13px;
}
.search-city__bar {
  height: 100%;
  width: 100%;
  background-color: rgba(27, 31, 41, 0.3);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  font-family: inherit;
  font-size: inherit;
  font-weight: 600;
  color: inherit;
  padding: 0 42px;
}
.search-city__bar-wrapper {
  width: 100%;
  position: relative;
}

.search-icon, .location-icon {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}

.search-icon {
  left: 14px;
}

.location-icon {
  right: 14px;
}

.user-icon {
  height: 100%;
  width: 100%;
}
.user-icon__holder {
  min-width: 48px;
  overflow: hidden;
  border-radius: 50%;
  border: 1px solid #fff;
}

.current-weather__container {
  position: relative;
  min-height: 320px;
  height: 50vw;
  background-size: cover;
  background-position: bottom;
  border-radius: 20px;
  background-image: url(../images/main-frog.png);
}
.current-weather__icon {
  position: absolute;
  top: -10px;
  right: -10px;
}
.current-weather__info {
  font-weight: 600;
  padding: 20px 15px;
}

.info__temp {
  font-size: 64px;
}
.info__weather-state {
  font-size: 20px;
  margin-bottom: 5px;
}
.info__temp-range {
  font-size: 18px;
}

.info-bar__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  font-size: 14px;
  height: 48px;
  background-color: rgba(27, 31, 41, 0.3);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.3);
}
.info-bar__item {
  display: flex;
  align-items: center;
  justify-content: center;
}
.info-bar__icon {
  height: 17px;
  margin-right: 8px;
}

.today-info__container {
  background-color: rgba(27, 31, 41, 0.3);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 17px;
  font-size: 14px;
}
.today-info__header {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  border-bottom: 1px solid #B0B0B0;
  padding-bottom: 12px;
}
.today-info__date {
  color: #B0B0B0;
}
.today-info__content__list {
  padding-top: 16px;
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
}
.today-info__content__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;
}
.today-info__time, .today-info__temp-range {
  font-size: 12px;
  color: #B0B0B0;
}
.today-info__icon {
  width: 48px;
  height: 48px;
  margin: 7px 0;
}

.near-cities__bar-wrapper {
  height: 48px;
  position: relative;
}
.near-cities__search-bar {
  height: inherit;
  width: 100%;
  background-color: rgba(27, 31, 41, 0.3);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  font-family: inherit;
  font-size: inherit;
  font-weight: 600;
  color: inherit;
  padding: 0 42px;
}
.near-cities__search-icon {
  position: absolute;
  top: 50%;
  right: 18px;
  transform: translate(0, -50%);
}

.near-cities__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 13px;
  font-size: 12px;
}
.near-cities__item {
  background-color: rgba(27, 31, 41, 0.3);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 8px;
  padding-inline: 12px;
}
.near-cities__name {
  font-size: 14px;
  margin: 13px 0;
}
.near-cities__weather-icon {
  width: 50%;
  margin-bottom: 5px;
}
.near-cities__info {
  align-self: normal;
  display: flex;
  justify-content: space-between;
  color: #B0B0B0;
  margin-top: 8px;
}

.day-week__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 13px;
  font-size: 12px;
}
.day-week__item {
  background-color: rgba(27, 31, 41, 0.3);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 8px;
  padding-inline: 12px;
}
.day-week__name {
  font-size: 14px;
  margin: 13px 0;
}
.day-week__weather-icon {
  width: 50%;
  margin-bottom: 5px;
}
.day-week__info {
  align-self: normal;
  display: flex;
  justify-content: space-between;
  color: #B0B0B0;
  margin-top: 8px;
}

@media screen and (min-width: 800px) {
  body {
    font-size: 24px;
  }
  .header {
    height: 78px;
    padding: 0 30px;
  }
  .navigation {
    gap: 15px;
  }
  .weather-range__list {
    gap: 31px;
  }
  .burger-menu-icon {
    height: 28px;
    width: 23;
  }
  .content {
    padding: 18px 30px;
  }
}

/*# sourceMappingURL=style.css.map */
