@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
}

img {
  display: block;
}

ul {
  list-style-type: none;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  color: #fff;
  background: linear-gradient(180deg, #062C43 0%, #064469 100%);
  background-repeat: no-repeat;
  height: 100%;
}

.header {
  height: 58px;
  background-color: #1B1F29;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 21px;
}

.navigation {
  display: flex;
  align-items: center;
  gap: 18px;
}

.logo {
  height: 44px;
  width: 44px;
}

.weather-range__list {
  display: flex;
  gap: 18px;
}
.weather-range__item {
  cursor: pointer;
  color: #B0B0B0;
}
.weather-range__item--active {
  color: #C8A0FC;
}

.burger-menu-icon {
  cursor: pointer;
}

.content {
  padding: 16px 21px;
  display: grid;
  grid-gap: 13px;
  min-height: 100vh;
}

.search-city__section {
  height: 48px;
  display: flex;
  gap: 13px;
}
.search-city__bar {
  height: 100%;
  width: 100%;
  background-color: rgba(27, 31, 41, 0.3);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  font-family: inherit;
  font-size: inherit;
  font-weight: 600;
  color: inherit;
  padding: 0 42px;
}
.search-city__bar-wrapper {
  width: 100%;
  position: relative;
}

.search-icon, .location-icon {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}

.search-icon {
  left: 14px;
}

.location-icon {
  right: 14px;
}

.user-icon {
  height: 100%;
  width: 100%;
}
.user-icon__holder {
  min-width: 48px;
  overflow: hidden;
  border-radius: 50%;
  border: 1px solid #fff;
}

.current-weather__container {
  position: relative;
  min-height: 320px;
  height: 50vw;
  background-size: cover;
  background-position: bottom;
  border-radius: 20px;
  background-image: url(../images/main-frog.png);
}
.current-weather__icon {
  position: absolute;
  top: -10px;
  right: -10px;
}
.current-weather__info {
  font-weight: 600;
  padding: 20px 15px;
}

.info__temp {
  font-size: 64px;
}
.info__weather-state {
  font-size: 20px;
  margin-bottom: 5px;
}
.info__temp-range {
  font-size: 18px;
}

.info-bar__list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  font-size: 14px;
  height: 48px;
  background-color: rgba(27, 31, 41, 0.3);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.3);
}
.info-bar__item {
  display: flex;
  align-items: center;
  justify-content: center;
}
.info-bar__icon {
  height: 17px;
  margin-right: 8px;
}

.today-info__container {
  background-color: rgba(27, 31, 41, 0.3);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 17px;
  font-size: 14px;
  width: 100%;
  position: relative;
}
.today-info__header {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  border-bottom: 1px solid #B0B0B0;
  padding-bottom: 12px;
}
.today-info__date {
  color: #B0B0B0;
}
.today-info__slider {
  width: calc(100vw - 80px);
  padding-top: 16px;
  overflow: hidden;
}
.today-info__btn {
  user-select: none;
  cursor: pointer;
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  padding: 10px;
  border-radius: 50%;
}
.today-info__btn:active {
  background-color: #C8A0FC;
}
.today-info__btn--right {
  position: absolute;
  z-index: 1;
  right: 5px;
}
.today-info__btn--left {
  z-index: 1;
  position: absolute;
  left: 5px;
  transform: rotate(180deg);
}
.today-info__content__list {
  display: flex;
  transition-property: transform;
  transition-duration: 0.3s;
  transition-timing-function: ease;
}
.today-info__content__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 6px;
}
.today-info__time, .today-info__temp-range {
  font-size: 12px;
  color: #B0B0B0;
}
.today-info__icon {
  width: 48px;
  height: 48px;
  margin: 7px 0;
}

.near-cities__bar-wrapper {
  height: 48px;
  position: relative;
}
.near-cities__search-bar {
  height: inherit;
  width: 100%;
  background-color: rgba(27, 31, 41, 0.3);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  font-family: inherit;
  font-size: inherit;
  font-weight: 600;
  color: inherit;
  padding: 0 42px;
  line-height: 48px;
}
.near-cities__search-icon {
  position: absolute;
  top: 50%;
  right: 18px;
  transform: translate(0, -50%);
}

.near-cities__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 13px;
  font-size: 12px;
}
.near-cities__item {
  background-color: rgba(27, 31, 41, 0.3);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 8px;
  padding-inline: 12px;
}
.near-cities__name {
  font-size: 14px;
  margin: 13px 0;
  text-align: center;
}
.near-cities__weather-icon {
  width: 50%;
  margin-bottom: 5px;
}
.near-cities__info {
  align-self: normal;
  display: flex;
  color: #B0B0B0;
  margin-top: 8px;
  justify-content: space-evenly;
}

.day-week__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 13px;
  font-size: 12px;
}
.day-week__item {
  background-color: rgba(27, 31, 41, 0.3);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 8px;
  padding-inline: 12px;
}
.day-week__item--active {
  background-color: rgba(27, 31, 41, 0.6);
}
.day-week__name {
  font-size: 14px;
  margin: 13px 0;
}
.day-week__weather-icon {
  width: 50%;
  margin-bottom: 5px;
}
.day-week__info {
  align-self: normal;
  display: flex;
  color: #B0B0B0;
  margin-top: 8px;
  justify-content: space-evenly;
  justify-content: space-between;
}

.day-forecast__container {
  display: flex;
  flex-direction: column;
  gap: 13px;
}
.day-forecast__date-wrapper {
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(27, 31, 41, 0.3);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  height: 48px;
  padding: 0 17px;
}
.day-forecast__list {
  padding: 19px 17px;
  display: flex;
  flex-direction: column;
  gap: 13px;
  background-color: rgba(27, 31, 41, 0.3);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.3);
}
.day-forecast__item {
  display: flex;
  line-height: 36px;
  justify-content: space-between;
}
.day-forecast__time {
  font-size: 14px;
}
.day-forecast__icon {
  height: 36px;
}
.day-forecast__range {
  font-size: 16px;
}
.day-forecast__weather-type {
  width: 100px;
}

.date__icon-calendar {
  width: 20px;
  height: 22px;
}

.error-page {
  height: 100vh;
  background-image: url(../images/error-background.png);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.error-page__img {
  width: 60%;
}
.error-page__text {
  width: fit-content;
  text-align: center;
  margin: 40px 0;
}
.error-page__header {
  padding-bottom: 14px;
}
.error-page__btn {
  width: 332px;
  background-color: rgba(27, 31, 41, 0.3);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  color: #fff;
  height: 66px;
  min-height: 66px;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
}
.error-page__btn:hover {
  background-color: rgba(27, 31, 41, 0.6);
}

@media screen and (min-width: 900px) {
  body {
    font-size: 24px;
    height: 100%;
  }
  .content {
    gap: 32px;
  }
  .header {
    height: 78px;
    padding: 0 30px;
  }
  .navigation {
    gap: 15px;
  }
  .weather-range__list {
    gap: 31px;
  }
  .burger-menu-icon {
    height: 28px;
    width: 23;
  }
  .day-week__list {
    grid-template-columns: repeat(5, 1fr);
  }
  .day-week__item {
    padding-inline: 15px;
  }
  .day-week__name {
    font-size: 24px;
    font-weight: 600;
    margin: 24px 0;
  }
  .day-week__weather-icon {
    width: 60%;
    margin-bottom: 25px;
  }
  .day-week__weather-type {
    font-size: 24px;
  }
  .day-week__info {
    margin-top: 20px;
    font-size: 16px;
  }
  .search-city__section {
    height: 68px;
    gap: 32px;
  }
  .day-forecast__container {
    gap: 0;
  }
  .day-forecast__date-wrapper {
    font-size: 24px;
    height: 68px;
    padding: 0 21px;
    border-bottom: none;
    border-radius: 20px 20px 0 0;
  }
  .day-forecast__list {
    flex-direction: row;
    border-radius: 0 0 20px 20px;
    padding: 36px;
  }
  .day-forecast__item {
    flex-grow: 1;
    line-height: 36px;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 42px;
  }
  .day-forecast__time {
    font-size: 30px;
    order: 1;
  }
  .day-forecast__icon {
    height: 90px;
    order: 2;
  }
  .day-forecast__range {
    font-size: 20px;
    order: 4;
  }
  .day-forecast__weather-type {
    order: 3;
    width: auto;
    font-size: 24px;
  }
  .date__icon-calendar {
    width: 20px;
    height: 22px;
  }
  .error-page {
    min-height: 100%;
    border-radius: 20px;
    background-image: url(../images/error-big.png);
    background-size: cover;
    background-position: center;
    justify-content: space-between;
    position: relative;
    margin: 25px 35px;
  }
  .error-page__btn {
    margin-bottom: 17px;
  }
  .error-page__text {
    margin-top: 195px;
  }
  .error-page:before {
    z-index: 0;
    display: block;
    position: absolute;
    min-height: 100%;
    background-color: rgba(27, 31, 41, 0.6);
  }
  .user-icon {
    height: 68px;
    width: 68px;
  }
  .user-icon__holder {
    min-width: 68px;
  }
}

/*# sourceMappingURL=style.css.map */
